@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.Homepage-landing {
  position: relative;
  height: 100vh;
  background-color: #1f1f1f;
  background-image: url("../../Images/Homepage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.Homepage-landing-text {
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
  display: flex;
  flex-direction: column;
}

.Homepage-landing-intro {
  margin-top: 60px;
  padding-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: -.1rem;
  z-index: 2;
  animation: textShow 3s;
}

.Homepage-landing-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 100%;
  border: .1rem solid white;
}

.Homepage-landing-btn i {
  padding-top: .45rem;
  color: white;
}

.Homepage-landing-btn:hover {
  border-color: #f5973e;
}

.Homepage-landing-btn:hover i {
  color: #f5973e;
}

.Homepage-info {
  background-color: #eeeeee;
  padding: 3rem;
}

.Homepage-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-1-title {
  padding: 2rem 0;
  text-align: center;
}

.info-1-title h1 {
  color: #ff9c40;
  font-size: 3rem;
  font-weight: 500;
  margin: .25rem 0;
}

.info-1-title .divider {
  width: 40%;
  max-width: 200px;
  height: 4px;
  border-radius: 10px;
  background-color: #f5973e;
  margin: auto;
}

.paragraph-1 {
  width: 80%;
  font-weight: 300;
  max-width: 800px;
  color: #616161;
  font-size: 19px;
}

@keyframes textShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .Homepage-landing {
    height: 90vh;
  }
  .Homepage-landing-intro {
    padding-bottom: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -.1rem;
    z-index: 2;
    animation: textShow 3s;
  }
}

.TextTyping {
  display: inline-block;
}

.TextTyping > div {
  font-family: 'Electrolize', sans-serif;
  color: #f5973e;
  font-weight: 500;
  width: 50rem;
  font-size: 4.5rem;
  height: 4.5rem;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.TextTyping > div:after {
  content: "";
  width: 1.7rem;
  height: .4rem;
  display: block;
  background: white;
  margin-bottom: 1rem;
  margin-left: 2px;
  animation-duration: 700ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .TextTyping > div {
    font-size: 2rem;
    width: 100%;
    height: 3rem;
  }
  .TextTyping > div:after {
    width: 1rem;
    height: .2rem;
    margin-bottom: .5rem;
    margin-left: 3px;
  }
}

.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  color: white;
  background-color: #222;
  position: fixed;
  z-index: 10;
}

.Navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  max-width: 600px;
}

.Navbar-logo {
  height: 50px;
  width: 50px;
}

.Navbar-logo img {
  height: 45px;
  width: 45px;
}

.Navbar-icons {
  color: white;
  font-size: 1.5rem;
}

.Navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.Navbar-menubtn {
  color: white;
  font-size: 2rem;
}

.Navbar-sidebar {
  cursor: pointer;
  display: none;
  margin-right: 1rem;
  padding: 0 1rem;
}

.Navbar-side {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 10;
}

.Navbar-side .Navbar-close {
  display: none;
}

.Navbar-Open-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.Navbar-side .Navbar-Open-close {
  position: absolute;
  animation: slide-out .65s ease-in-out;
  left: 750px;
  width: 100%;
  background-color: black;
}

.Navbar-side .Navbar-Open-active {
  position: absolute;
  animation: slide-in .65s ease-in-out;
  left: 0px;
  width: 100%;
  background-color: #1a1a1a;
}

.Navbar-item.active-navLink {
  color: #faa352;
}

.active-navLink .Navbar-icons {
  color: #faa352;
}

@keyframes slide-in {
  0% {
    left: 750px;
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    left: 0px;
    opacity: 1;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .25;
  }
  100% {
    transform: translate(750px, 0);
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  .Navbar-item {
    color: white;
    text-decoration: none;
    font-size: .9rem;
  }
  .Navbar-icons {
    color: white;
    font-size: 1.15rem;
  }
}

@media (max-width: 750px) {
  /* For mobile phones: */
  .Navbar {
    justify-content: space-between;
  }
  .Navbar-sidebar {
    display: block;
  }
  .Navbar-sidebar:hover .Navbar-menubtn {
    color: #b1b1b1;
    transition: 0.3s;
  }
  .Navbar-sidebar:active .Navbar-menubtn {
    color: black;
    transition: 0.3s;
  }
  .Navbar-nav {
    display: none;
  }
  .Navbar-side {
    display: block;
  }
  .Navbar-Open-nav .Navbar-item {
    font-size: .75rem;
  }
  .Navbar-icons {
    font-size: 1.2rem;
  }
  .Navbar-logo {
    margin-left: 3rem;
  }
}

.Photos {
  position: relative;
  width: 450px;
  height: 350px;
}

.Photos-container {
  position: absolute;
  height: 400px;
  width: 300px;
  background-color: white;
  border: 1px solid rgba(153, 153, 153, 0.678);
  text-align: center;
  box-shadow: 1px 9px 6px 3px #888888;
  transform: rotate(10deg);
  animation: photoShow 2s;
}

.Photos-container img {
  margin-top: 10px;
  width: 275px;
  height: 325px;
}

@keyframes photoShow {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */