@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 5px;
}

.Homepage-landing {
  position: relative;
  height: 100vh;
  background-color: #1f1f1f;
  background-image: url("../../Images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.Homepage-landing-text {
  position: absolute;
  top: 40%;
  transform: translate(0, -40%);
  display: flex;
  flex-direction: column;
}

.Homepage-landing-intro {
  margin-top: 60px;
  padding-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: -.1rem;
  z-index: 2;
  animation: textShow 3s;
}

.Homepage-landing-subtext {
  padding-top: .5rem;
  color: rgba(182, 182, 182, 0.685);
  font-size: 20px;
  animation: textShow 2.5s;
}

.Homepage-landing-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 100%;
  border: .1rem solid white;
}

.Homepage-landing-btn i {
  padding-top: .45rem;
  color: white;
}

.Homepage-landing-btn:hover {
  border-color: #f5973e;
}

.Homepage-landing-btn:hover i {
  color: #f5973e;
}

.Homepage-info {
  background-color: #eeeeee;
  padding: 3rem;
}

.Homepage-info-1 {
  display: flex;
  flex-direction: column;
}

.Homepage-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Homepage-container-1-info {
  display: flex;
  flex-direction: column;
}

.info-1-title {
  display: inline-block;
  padding: 2rem 0;
}

.info-1-title h1 {
  color: #ff9c40;
  font-size: 3rem;
  font-weight: 500;
  margin: .25rem 0;
}

.info-1-title .divider {
  width: 300px;
  height: 4px;
  border-radius: 10px;
  background-color: #f5973e;
}

.Homepage-info-containers {
  align-self: center;
  width: 70%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  animation: textShow 2.5s;
}

.info-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Homepage-info-education {
  max-width: 1500px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Homepage-education-right {
  padding-left: 1rem;
}

.Homepage-education-left {
  margin-right: 1rem;
}

.Homepage-badges {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  max-width: 1100px;
  margin: auto;
}

.Homepage-accom-sub {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-accomplishment {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage-accomplishment a {
  font-weight: 300;
  background-color: #f5973e;
  padding: .5rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-top: -1.5rem;
}

.homepage-accomplishment a:hover {
  background-color: #faa95d;
  transform: scale(0.98);
}

@keyframes textShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .Homepage-info {
    padding: 1rem;
  }
  .Homepage-container-1 {
    flex-direction: column;
  }
  .Homepage-container-1-info {
    justify-content: center;
    align-items: center;
  }
  .info-1-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Homepage-badges img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .Homepage-landing {
    height: 90vh;
  }
  .info-1-title {
    padding: 1rem 0;
    padding-bottom: 2rem;
  }
  .info-1-title h1 {
    font-size: 2rem;
  }
  .Homepage-landing-intro {
    padding-bottom: 0;
    font-size: 1.5rem;
  }
  .Homepage-landing-subtext {
    font-size: 12px;
  }
  .Homepage-info-containers {
    width: 100%;
    justify-content: center;
  }
  .Homepage-info-education {
    flex-direction: column;
  }
  .Homepage-education-right {
    padding-left: 0;
    margin-bottom: 2rem;
  }
  .Homepage-education-left {
    margin-right: 0;
  }
  .Homepage-badges {
    flex-direction: column;
    width: 90%;
  }
  .Homepage-accom-sub {
    flex-direction: column;
  }
}

.TextTyping {
  display: inline-block;
}

.TextTyping > div {
  font-family: 'Electrolize', sans-serif;
  color: #fc9c43;
  font-weight: 500;
  width: 50rem;
  font-size: 4.5rem;
  height: 4.5rem;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.TextTyping > div:after {
  content: "";
  width: 1.7rem;
  height: .4rem;
  display: block;
  background: white;
  margin-bottom: 1rem;
  margin-left: 2px;
  animation-duration: 700ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .TextTyping > div {
    color: #faa657;
    letter-spacing: -1px;
    font-size: 2.2rem;
    width: 100%;
    height: 3rem;
  }
  .TextTyping > div:after {
    width: 1rem;
    height: .2rem;
    margin-bottom: .5rem;
    margin-left: 3px;
  }
}

.Navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  color: white;
  background-color: #222;
  position: fixed;
  z-index: 10;
}

.Navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  max-width: 600px;
}

.Navbar-logo {
  height: 50px;
  width: 50px;
}

.Navbar-logo img {
  height: 45px;
  width: 45px;
}

.Navbar-icons {
  color: white;
  font-size: 1.5rem;
}

.Navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.Navbar-menubtn {
  color: white;
  font-size: 2rem;
}

.Navbar-sidebar {
  cursor: pointer;
  display: none;
  margin-right: 1rem;
  padding: 0 1rem;
}

.Navbar-side {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 10;
}

.Navbar-side .Navbar-close {
  display: none;
}

.Navbar-Open-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.Navbar-side .Navbar-Open-close {
  position: absolute;
  animation: slide-out .65s ease-in-out;
  left: 750px;
  width: 100%;
  background-color: black;
}

.Navbar-side .Navbar-Open-active {
  position: absolute;
  animation: slide-in .65s ease-in-out;
  left: 0px;
  width: 100%;
  background-color: #1a1a1a;
}

.Navbar-item.active-navLink {
  color: #faa352;
}

.active-navLink .Navbar-icons {
  color: #faa352;
}

@keyframes slide-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    left: 0px;
    opacity: 1;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .25;
  }
  100% {
    transform: translate(10%);
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  .Navbar-item {
    color: white;
    text-decoration: none;
    font-size: .9rem;
  }
  .Navbar-icons {
    color: white;
    font-size: 1.15rem;
  }
}

@media (max-width: 750px) {
  /* For mobile phones: */
  .Navbar {
    justify-content: space-between;
  }
  .Navbar-sidebar {
    display: block;
  }
  .Navbar-sidebar:hover .Navbar-menubtn {
    color: #b1b1b1;
    transition: 0.3s;
  }
  .Navbar-sidebar:active .Navbar-menubtn {
    color: black;
    transition: 0.3s;
  }
  .Navbar-nav {
    display: none;
  }
  .Navbar-side {
    display: block;
  }
  .Navbar-Open-nav .Navbar-item {
    font-size: .75rem;
  }
  .Navbar-icons {
    font-size: 1.2rem;
  }
  .Navbar-logo {
    margin-left: 3rem;
  }
}

.Photos {
  position: relative;
  width: 350px;
  height: 375px;
  display: flex;
  justify-content: center;
}

.Photos-container {
  position: absolute;
  height: 360px;
  width: 275px;
  background-color: white;
  border: 1px solid rgba(153, 153, 153, 0.678);
  text-align: center;
  box-shadow: 1px 9px 6px 3px #888888;
  animation: photoShow 2s;
}

.Photos-container img {
  margin-top: 10px;
  width: 250px;
  height: 300px;
}

@keyframes photoShow {
  0% {
    opacity: .25;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .Photos {
    width: 300px;
    height: 350px;
  }
  .Photos-container {
    height: 315px;
    width: 250px;
    border: 1px solid rgba(153, 153, 153, 0.678);
    box-shadow: 1px 9px 6px 3px #888888;
  }
  .Photos-container img {
    margin-top: 10px;
    width: 225px;
    height: 265px;
  }
}

.ParagraphContainer {
  max-width: 600px;
  padding-bottom: 2.5rem;
}

.paragraphContainer-offScreen {
  color: #eeeeee;
}

.paragraphContainer-text {
  font-weight: 300;
  color: #666666;
  font-family: 'Lora', serif;
  line-height: 25px;
  font-size: 17px;
  letter-spacing: .25px;
  animation: paragraphIn 1.5s;
}

@keyframes paragraphIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .ParagraphContainer {
    padding-top: 0;
    align-self: center;
    width: 70%;
    max-width: 1000px;
  }
}

@media (max-width: 600px) {
  /* For mobile phones: */
  .ParagraphContainer {
    width: 90%;
  }
  .paragraphContainer-text {
    font-size: 14px;
  }
}

.Footer {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
}

.Footer-top-points {
  height: 50px;
  background-color: #222;
  margin-bottom: -1rem;
}

.Footer-top {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none !important;
}

.Footer-top-btn {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 2rem;
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 100%;
  border: .1rem solid white;
}

.Footer-top-btn i {
  font-size: 18px;
  padding-left: .07rem;
  color: white;
}

.Footer-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-icon {
  cursor: pointer;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  width: 60px;
  height: 60px;
  margin: .5rem .5rem;
  border-radius: 10px;
}

.Footer-icon:hover {
  background-color: #383838;
  transform: scale(0.98);
}

.Footer-bottom {
  background-color: #1a1a1a;
  text-align: center;
}

.Footer-bottom .Footer-text {
  font-size: 11px;
  color: white;
  padding: .3rem;
  padding-bottom: 1rem;
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .Footer-icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}

.Icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 130px;
  height: 150px;
  margin-top: .5rem;
  animation: IconShow 3s;
}

.Icon-offScreen {
  width: 130px;
  height: 150px;
  margin-top: .5rem;
}

.Icon:hover .Icon-Background {
  animation: bounce-second 1s;
}

.Icon-Background {
  display: inline-block;
  color: white;
  background-color: #fa861a;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 100px;
  animation: bounce 1s;
}

.Icon-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 50px;
}

.Icon-desc {
  padding-top: .5rem;
  text-align: center;
  font-size: 13px;
  color: #616060;
}

.FlatIcon {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.FlatIcon-Background {
  width: 250px;
  height: 35px;
  background-color: #fa861a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.FlatIcon-symbol {
  font-size: 28px;
  margin-right: 2rem;
}

.FlatIcon-text {
  font-weight: 300;
}

.FlatIcon-desc {
  padding-top: 1rem;
  text-align: center;
  font-size: 15px;
  color: #4e4e4e;
}

.FlatIcon-Subdesc {
  padding-top: .5rem;
  text-align: center;
  font-size: 12px;
  color: #838181;
}

@keyframes bounce {
  0% {
    transform: scaleY(0.6) translateY(30%);
  }
  20% {
    transform: scaleY(1) translateY(-50%);
  }
  40% {
    transform: scaleY(0.6) translateY(30%);
  }
  60% {
    transform: scaleY(1) translateY(-30%);
  }
  80% {
    transform: scaleY(0.7) translateY(30%);
  }
  100% {
    transform: scaleY(1) translateY(0%);
  }
}

@keyframes bounce-second {
  0% {
    transform: scaleY(0.6) translateY(30%);
  }
  20% {
    transform: scaleY(1) translateY(-50%);
  }
  40% {
    transform: scaleY(0.6) translateY(30%);
  }
  60% {
    transform: scaleY(1) translateY(-30%);
  }
  80% {
    transform: scaleY(0.7) translateY(30%);
  }
  100% {
    transform: scaleY(1) translateY(0%);
  }
}

@keyframes IconShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .Icon {
    width: 120px;
    height: 120px;
    margin-top: .5rem;
    animation: IconShow 3s;
  }
  .Icon-offScreen {
    width: 100px;
    height: 120px;
    margin-top: .5rem;
  }
  .Icon-Background {
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 100px;
    animation: bounce 1s;
  }
  .Icon-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
  }
  .Icon-desc {
    padding-top: .5rem;
    text-align: center;
    font-size: 12px;
    color: #616060;
  }
}

@media (max-width: 500px) {
  .Icon {
    width: 120px;
    height: 120px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    animation: IconShow 3s;
  }
}

@media (max-width: 400px) {
  .Icon {
    width: 120px;
    height: 120px;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: .5rem;
    animation: IconShow 3s;
  }
}

.CourseList-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa861a;
  color: white;
  height: 2.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.CourseList-List {
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px rgba(209, 209, 209, 0.774) solid;
}

.CourseList-course {
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #4d4d4d;
  padding: .4rem .5rem;
  border-bottom: 1px rgba(167, 167, 167, 0.719) solid;
}

.CourseList ::-webkit-scrollbar {
  width: 3px;
}

.CourseList ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 3px;
}

.CourseList ::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 5px;
}

.SkillGraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 1rem;
}

.Skill-line {
  display: flex;
  align-items: center;
}

.Skill-line-text {
  width: 150px;
  padding: .6rem 0;
  font-size: 15px;
  font-weight: 300;
}

.Skill-line-circle {
  background-color: #f5973e;
  width: 20px;
  height: 20px;
  margin: 0 .2rem;
  border-radius: 100px;
}

@media (max-width: 1100px) {
  .Skill-line-text {
    width: 125px;
    padding: .5rem 0;
  }
  .Skill-line-circle {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 900px) {
  /* For mobile phones: */
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContactForm {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactForm-input {
  font-size: 15px;
  font-weight: 300;
  border-radius: 3px;
  width: 500px;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  border: none;
  background-color: #414141;
  color: white;
  outline: none;
}

.large {
  height: 100px;
}

.ContactForm-input::placeholder {
  color: silver;
}

.ContactForm-btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  border: 2px solid white;
  color: white;
  padding: .5rem 2rem;
  background-color: rgba(128, 128, 128, 0);
  outline: none;
  margin-top: 1rem;
  transition: background-color .5s, color .5s;
}

.ContactForm-btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 900px) {
  /* For mobile phones: */
  .ContactForm {
    width: 100%;
  }
  .ContactForm-input {
    width: 250px;
  }
}

.Blogs {
  background-color: #eeeeee;
}

.Blogs-landing {
  position: relative;
  height: 30vh;
  background-image: url(../../Images/blog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-overlay {
  background-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 100%;
}

.Blogs-landing-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.Blogs-CardContainer {
  margin: auto;
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  align-items: center;
  flex-wrap: wrap;
}

.BlogCard {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
  border: 1px solid rgba(199, 198, 198, 0.63);
  box-shadow: 2px 5px 6px 2px #88888883;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BlogCard-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
  font-size: 13px;
  color: #444444;
}

.BlogCard-Title {
  color: #4d4d4d;
  font-family: 'Lora', serif;
  font-size: 25px;
  width: 80%;
  font-weight: 500;
  padding-top: .15rem;
  padding-bottom: 1rem;
}

.BlogCard-descrition {
  font-family: 'Lora', serif;
  font-size: 15px;
  width: 85%;
  padding-bottom: 1.5rem;
  color: #505050;
  padding-left: 1rem;
}

.BlogCard-img-container {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlogCard-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 1.5rem;
  padding: .5rem 2rem;
  outline: none;
  background-color: #f5973e;
}

.BlogCard-btn:hover {
  background-color: #fdad62;
  transform: scale(0.98);
}

.icon-btn {
  margin-left: 1rem;
}

.BlogPage {
  padding-top: 60px;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.BlogPage-Intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Blogpage-info {
  text-align: center;
  width: 85%;
  max-width: 1100px;
  padding: 2rem 0;
}

.Blogpage-info .Blogpage-Title {
  font-weight: 300;
  font-size: 40px;
}

.Blogpage-info .Blog-page-dates {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  color: grey;
  font-size: 15px;
}

.Blog-page-date {
  padding: 0 1rem;
}

.Blog-page-name {
  padding: 0 1rem;
}

.Blogpage-image-container {
  border-radius: 5px;
  overflow: hidden;
  width: 800px;
  height: 100%;
}

.Blogpage-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Blogpage-Intro-Image {
  border-radius: 5px;
  width: 800px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlogPage-Content {
  padding: 1rem 0;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Blogpage-subtitle {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #303030;
  padding: 2rem .5rem 0 0;
  align-self: flex-start;
}

.Blogpage-Paragraph {
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: .5px;
  color: #535353;
  padding: 1.5rem 0;
}

.Blogpage-image-container-content {
  padding: 1.5rem 0;
  border-radius: 5px;
  overflow: hidden;
  width: 800px;
  height: 100%;
  width: 100%;
}

.Blogpage-image-container-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .Blogpage-image-container {
    width: 90%;
    height: 100%;
  }
  .Blogpage-subtitle {
    font-size: 30px;
  }
  .Blogpage-Paragraph {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: .2px;
  }
  .Blogpage-info .Blogpage-Title {
    font-size: 35px;
  }
  .Blogpage-info .Blog-page-dates {
    font-size: 13px;
  }
}

.Projects {
  background-color: #eeeeee;
  padding: 2rem 0;
}

.Projects-landing {
  position: relative;
  height: 30vh;
  background-image: url(../../Images/projects-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Projects-landing-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.Projects-Card-Container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectCard {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(199, 198, 198, 0.63);
  box-shadow: 2px 5px 6px 2px #88888883;
}

.ProjectCard-ImageContainer {
  width: 400px;
  height: 100%;
}

.ProjectCard-ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectCard-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
}

.ProjectCard-Title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  color: #4d4d4d;
}

.ProjectCard-desc {
  width: 80%;
  color: #4d4d4d;
  font-weight: 300;
  line-height: 20px;
}

.ProjectCard-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 0rem;
  padding: .5rem 2rem;
  outline: none;
  background-color: #f5973e;
}

.ProjectCard-btn:hover {
  background-color: #fdad62;
  transform: scale(0.98);
}
/*# sourceMappingURL=styles.css.map */