.Footer
{
    height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.Footer-top-points
{
    height: 50px;
    background-color: #222;
    margin-bottom: -1rem;
}

.Footer-top
{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Footer-top-btn
{
    margin: 2rem;
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    border: .1rem solid white;

    i
    {
        padding-top: .45rem;
        color: white;
    }
}

.Footer-icons-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Footer-icon
{
    cursor: pointer;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;
    margin: .5rem .5rem;
    border-radius: 10px;

}

.Footer-icon:hover
{
    background-color: rgb(56, 56, 56);
    transform: scale(.98);
}

.Footer-bottom
{
    background-color: rgb(26, 26, 26);
    text-align: center;

    .Footer-text
    {
        font-size: 11px;
        color: white;
        padding: .3rem;
        padding-bottom: 1rem;
    }
}

@media(max-width: 900px) {
    /* For mobile phones: */
    .Footer-icon
    {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
}