@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.Homepage-landing
{
    position: relative;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    background-image: url("../../Images/background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.Homepage-landing-text
{
    position: absolute;
    top: 40%;
    transform: translate(0, -40%);
    display: flex;
    flex-direction: column;
}

.Homepage-landing-intro
{
    margin-top: 60px;
    padding-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: -.1rem;
    z-index: 2;
    animation: textShow 3s;
}

.Homepage-landing-subtext
{
    padding-top: .5rem;
    color: rgba(182, 182, 182, 0.685);
    font-size: 20px;
    animation: textShow 2.5s;
}

.Homepage-landing-btn
{
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100%;
    border: .1rem solid white;

    i
    {
        padding-top: .45rem;
        color: white;
    }
}

.Homepage-landing-btn:hover
{
    border-color: #f5973e;
    i
    {
        color: #f5973e;
    }
}

.Homepage-info
{
    background-color: rgb(238, 238, 238);
    padding: 3rem;
}

.Homepage-info-1
{
    display: flex;
    flex-direction: column;
}

.Homepage-container-1
{

    display: flex;
    align-items: center;
    justify-content: center;
}

.Homepage-container-1-info
{
    display: flex;
    flex-direction: column;
}

.info-1-title
{
    display: inline-block;
    padding: 2rem 0;

    h1
    {
        color: #ff9c40;
        font-size: 3rem;
        font-weight: 500;
        margin: .25rem 0;
    }

    .divider
    {
        max-width: 300px;
        height: 4px;
        border-radius: 10px;
        background-color:#f5973e;

    }

}

.Homepage-info-containers
{
    align-self: center;
    width: 70%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    animation: textShow 2.5s;
}

.info-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage-info-education
{
    max-width: 1500px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Homepage-education-right
{
    padding-left: 1rem;
}
.Homepage-education-left
{
    margin-right: 1rem;
}



@keyframes textShow {
    0%   {opacity: 0;}
    100% {opacity: 1;} 
}

@media(max-width: 1100px) 
{
    .Homepage-info
    {
        padding: 1rem;
    }
    .Homepage-container-1
    {
        flex-direction: column;        
    }
    .Homepage-container-1-info
    {
        justify-content: center;
        align-items: center;
    }
    .Homepage-info-education 
    {
        flex-direction: column;
    }

    .Homepage-education-right
    {
        padding-left: 0;
    }
    .Homepage-education-left
    {
        margin-right: 0;
    }

}

@media(max-width: 900px) {
    /* For mobile phones: */
    .Homepage-landing
    {
        height: 90vh;
    }
    .info-1-title
    {
        padding: 1rem 0;
        padding-bottom: 2rem;
        h1
        {
            font-size: 2rem;
        }
    }
    .Homepage-landing-intro
    {
        padding-bottom: 0;
        font-size: 1.5rem;
    }
    .Homepage-landing-subtext
    {
        font-size: 10px;
    }

    .Homepage-info-containers
    {
        width: 100%;
        justify-content: center;
    }
}