.ParagraphContainer
{
    max-width: 600px;
    padding-bottom: 2.5rem;
}

.paragraphContainer-offScreen
{
    color: rgb(238, 238, 238);
}

.paragraphContainer-text
{
    font-weight: 300;
    color: rgb(73, 73, 73);
    font-size: 17px;
    letter-spacing: .25px;
    animation: paragraphIn 1.5s;
}

@keyframes paragraphIn
{
    0%   {opacity: 0; transform: translateX(-50%);}
    100% {opacity: 1;} 
}

@media(max-width: 1100px) 
{
    .ParagraphContainer
    {
        padding-top: 0;
        align-self: center;
        width: 70%;
        max-width: 1000px;
    }
}

@media(max-width: 600px) {
    /* For mobile phones: */
    .ParagraphContainer
    {
        width: 90%;
    }

    .paragraphContainer-text
    {
        font-size: 14px;
    }
}