.Photos
{
    position: relative;
    width: 350px;
    height: 375px;
    display: flex;
    justify-content: center;
}

.Photos-container
{
    position: absolute;
    height: 360px;
    width: 275px;
    background-color: white;
    border: 1px solid rgba(153, 153, 153, 0.678);
    text-align: center;
    box-shadow: 1px 9px 6px 3px #888888;
    img
    {
        margin-top: 10px;
        width: 250px;
        height: 300px;
    }
    animation: photoShow 2s;
}

@keyframes photoShow
{
    0%   {opacity: .25; transform: translateX(100%);}
    100% {opacity: 1;} 
}